body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #454b66;
}
h3 {
  font-size: 25px;
}
.Container {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Tweet {
  min-width: 500px;
  min-height: 280px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  border-radius: 10px;
  box-shadow: 2px 2px 20px 4px rgba(0, 0, 0, 0.1);
  background: url(wave.svg) no-repeat;
  background-size: contain;
}
.Row {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Col {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Rating {
  width: 85%;
  padding: 5%;
  border-radius: 10px;
}

.Box {
  width: 100%;
  height: 33%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#Text {
  width: 70%;
  font-weight: bold;
  text-align: left;
}
#Score {
  width: 30%;
  text-align: left;
}
#Field {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
}
.Disclamer {
  padding: 1%;
  font-size: 8px;
}
